# PYTHON!!!!

# Section 0: Notebook considerations

In a notebook, only the last command is returned to the STDOUT.

If in a cell you want to see several outputs, you need to explicitly use the `print()` function.

In [1]:
x = 3
x

3

In [3]:
x
x * 2

6

In [4]:
print(x)
print(x * 2)

3
6

In [ ]:
print("The value of x is:", x)
#
print("The value of x * 2 is:", x * 2)

The value of x is: 3
--------------------------------------------------
The value of x * 2 is: 6

# Section 1: Variables and basic data types


In Python, **variables** are used to store information.

The variable is the name that you assign to your object.
It refers to a particular object in memory (more on that in a while).

The **object** is the actual data that the variable 

In conclusion, the variable does not **contain** an object but **refers** to it.

In [14]:
my_var = 15

In [16]:
# MAYBE LATER WITH FUNCTIONS
print("The id of my_var is:", id(my_var))
print("\nThe hex id of my_var is:", hex(id(my_var)))

The id of my_var is: 140731372741992

The hex id of my_var is: 0x7ffe937b2568

In python, there are various data **types**

In [12]:
# Integer
x1 = 5
print("The value of x1 is:", x1)

# Float
x2 = 3.14
print("\nThe value of x2 is:", x2)

# String
x3 = "Guido van Rossum"
print("\nThe value of x3 is:", x3)

# Boolean
x4 = True
print("\nThe value of x4 is:", x4)

The value of x1 is: 5

The value of x2 is: 3.14

The value of x3 is: Guido van Rossum

The value of x4 is: True

# Basic math operators

In [17]:
# Addition
print("An addition: 3 + 2 =",  3 + 2)

# Subtraction
print("\nA subtraction: 3 - 2 =",  3 - 2)

# Multiplication
print("\nA multiplication: 3 * 2 =",  3 * 2)

# Multiplication
print("\nA division: 3 / 2 =",  3 / 2)

# Note: in Python, the power operator is ** and not ^ (as in some languages like R)
print("\nAn exponentiation: 3 ** 2 =",  3 ** 2)

An addition: 3 + 2 = 5

A subtraction: 3 - 2 = 1

A multiplication: 3 * 2 = 6

A division: 3 / 2 = 1.5

An exponentiation: 3 ** 2 = 9

# Functions, types and class
Functions are identified by their parenthese and are applied to values.
The function `print()` was one of them and so is `type()`.
In the `print()` function, `sep` is an **parameter** (which is a variable) and the value you pass to it is the **argument**.

In [18]:
# The print() function will print something to the STDOUT
len("Hello")

5

In [19]:
# The length() function will count the number of characters in a string
len("Hello")

5

In [20]:
len("hello\n")

6

In [21]:
# Some function can accept several values
print("a", "b", "c")

a b c

In [22]:
# Some parameters can be named, others not
print("a", "b", "c", sep="/")

a/b/c

In [23]:
# The type() function returns the type of an object
type(x1)

int

In [25]:
# Functions can be nested, as can be seen below:
print("The type of x1 is:", type(x1))

print("\nThe type of x2 is:", type(x2))

print("\nThe type of x3 is:", type(x3))

print("\nThe type of x4 is:", type(x4))

The type of x1 is: <class 'int'>

The type of x2 is: <class 'float'>

The type of x3 is: <class 'str'>

The type of x4 is: <class 'bool'>

In [26]:
# Special notice regarding f-strings
y = 1/3

#
print("The value of y is", y)
print(f"The value of y is {y}")
print(f"The value of y is {y:.2f}")

# Despite its formatting, it remains a string
print(type(f"The value of x9 is {y:.2f}"))

The value of y is 0.3333333333333333
The value of y is 0.3333333333333333
The value of y is 0.33
<class 'str'>

# Writing functions

In Python, you can use functions, but you can also write your own functions.
In Python, INDENTATION is life!

In [27]:
# Write your own function
def add_two(num1, num2):
    out = num1 + num2
    return out

In [28]:
# Try it out
print(add_two(1, 5))
print("-" * 50)
print(add_two(18.5, 1.2))

6
--------------------------------------------------
19.7

In [29]:
# You can use them with named parameters or not
print(add_two(1, 5))
print(add_two(num1=1, num2=5))

6
6

In [30]:
# But beware that a unnamed parameter must follow a named parameter
print(add_two(1, num2=5))

6

In [31]:
# But beware that a unnamed parameter must follow a named parameter
print(add_two(num1=1, 5))

SyntaxError: positional argument follows keyword argument (1467516494.py, line 2)

# Control flow logic

This determines how the logic of your code behaves

In [32]:
# For loops and indentation.
# Note the colon at the end and the loop
for num in range(0, 5):
    print(2 * num)

0
2
4
6
8

In [36]:
# Comparison operators Return a bool value
print("Result of 5.8 < 6.2:", 5.8 < 6.2)

print("\nResult of 5.8 <= 6.2:", 5.8 <= 6.2)

print("\nResult of 5.8 == 6.2:", 5.8 == 6.2)

print("\nResult of 5.8 >= 6.2:", 5.8 >= 6.2)

print("\nResult of 5.8 > 6.2:", 5.8 > 6.2)

print("\nResult of 5.8 != 6.2:", 5.8 != 6.2)

Result of 5.8 < 6.2: True

Result of 5.8 <= 6.2: True

Result of 5.8 == 6.2: False

Result of 5.8 >= 6.2: False

Result of 5.8 > 6.2: False

Result of 5.8 != 6.2: True

In [37]:
# Example from Criterion C (Small population size and decline):
# The number of mature individuals is fewer than 2,500, and (more things)

population = 867

if population <= 2500:
    print("This species is endangered!")
else:
    print("It's okay.")

This species is endangered!

# Classes and instantiation

Classes a (we will create one later)

it uses the constructor method (i.e. `__init__`)

In [40]:
# Integer
x5 = int(5)
print("The type of x5 is:", type(x5))

# Float
x6 = float(18.57)
print("\nThe type of x6 is:", type(x6))

# String
x7 = str("I am a bird")
print("\nThe type of x7 is:", type(x7))

# Boolean
x8 = bool(False)
print("\nThe type of x8 is:", type(x8))

The type of x5 is: <class 'int'>

The type of x6 is: <class 'float'>

The type of x7 is: <class 'str'>

The type of x8 is: <class 'bool'>

In [ ]:
# The classes themselves belong to the class "type", which is a class and the metaclass
print("int is of type:", type(int))

print("\nfloat is of type:", type(float))

print("\nstr is of type:", type(str))

print("\nbool is of type:", type(bool))

int is of type: <class 'type'>

float is of type: <class 'type'>

str is of type: <class 'type'>

bool is of type: <class 'type'>

In [46]:
# Ask questions about the classes
print("Is x5 an instance of int?", isinstance(x5, int))
print("\nIs x5 an instance of str?", isinstance(x5, str))
print("\nIs x5 an instance of bool?", isinstance(x5, bool))
#
print("\nIs x6 an instance of float?", isinstance(x6, float))
print("\nIs x7 an instance of str?", isinstance(x7, str))
print("\nIs x8 an instance of bool?", isinstance(x8, bool))

Is x5 an instance of int? True

Is x5 an instance of str? False

Is x5 an instance of bool? False

Is x6 an instance of float? True

Is x7 an instance of str? True

Is x8 an instance of bool? True

# Attributes and methods

In python, OBJECT hold both attributes and methods. That is to say that they hold both data and ways to operate on it.

Class attributes can be instance attributes or class attributes (not seen here but straightforward)

Methods are accessed through `.` notation.

**NEVER** use `.` in variable names!

In comparison, **method** is a function that is only accessible to objects of a certain type.

In [49]:
print("The value of x7:")
print(x7)
#
print("\nFirst use of the function upper() - not Pythonic:")
print(str.upper(x7))
#
print("\nSecond use of the function upper() as a method - Pythonic:")
print(x7.upper())

The value of x7:
I am a bird

First use of the function upper() - not Pythonic:
I AM A BIRD

Second use of the function upper() as a method - Pythonic:
I AM A BIRD

In [47]:
# .upper() is a method only accessible to objects of type "str"
# bool, int or float can't use it
print(True.upper)

AttributeError: 'bool' object has no attribute 'upper'

In [50]:
# See the difference visually
print(sum)
print(add_two)
#
print("\n")
#
print(str.upper)
print(str.capitalize)

<built-in function sum>
<function add_two at 0x0000027060056980>


<method 'upper' of 'str' objects>
<method 'capitalize' of 'str' objects>

In [ ]:
# Note that methods can be chained
# Replace then uppercase
# Similar to a pipe operator
print("Value of x7:")
print(x7)

print("\nResult of x7.replace('bird', 'fish'):")
print(x7.replace("bird", "fish"))

#
print("\nResult of x7.replace('bird', 'fish').upper():")
print(x7.replace("bird", "fish").upper())

Value of x7:
I am a bird

Result of x7.replace('bird', 'fish'):
I am a fish

Result of x7.replace('bird', 'fish').upper():
I AM A FISH

# Another

You may not have noticed it, but in VARIOUS programming languages, operators are functions.

But they can be different 

DUNDER `__something__`

In [55]:
print("Value of x6:", x6)
print("Result of x6 * 4:", x6 * 4)
#
print("\n")
#
print("Value of x7:", x7)
print("Result of x7 * 4:", x7 * 4)

Value of x6: 18.57
Result of x6 * 4: 74.28


Value of x7: I am a bird
Result of x7 * 4: I am a birdI am a birdI am a birdI am a bird

In [ ]:
# The method .__rmul__ relates to how the objects relate to the * operator
print(x6.__rmul__)
print(x7.__rmul__)

<method-wrapper '__rmul__' of float object at 0x0000014CBB0057F0>
<method-wrapper '__rmul__' of str object at 0x0000014CBBC014B0>

In [69]:
# Example of creating your own class
# Note the uppercase
class Vector:

    # Use CONSTRUCTOR to create an instance
    def __init__(self, v1, v2):
        self.v1 = v1
        self.v2 = v2

    # Define how it is represented
    # We can use an f-string (which we just saw)
    def __repr__(self):
        return f"Vector({self.v1}, {self.v2})"

    # Define a method to return the norm of a vector
    def norm(self):
        return (self.v1 ** 2.0  + self.v2 ** 2.0) ** 0.5

    # Define a method to return the normalized vector
    # Here, the vector doesn't just give you a value, but a new instance
    # of a Vector() object
    def normalize(self):
        v_norm = self.norm()
        return Vector(self.v1 / v_norm, self.v2 / v_norm)

    # Define a method to return the addition of two vectors
    def addition(self, other):
            return Vector(self.v1 + other.v1, self.v2 + other.v2)

    # Define a method to return the addition of two vectors
    # But this time, define how it interacts with the + operator
    def __add__(self, other):
            return Vector(self.v1 + other.v1, self.v2 + other.v2)

In [70]:
Vector(v1=3, v2=4)

Vector(3, 4)

In [63]:
Vector(v1=3, v2=4).norm()

5.0

In [64]:
Vector(v1=3, v2=4).normalize().norm()

1.0

In [78]:
# Create an instance of your vector class
vector1 = Vector(v1=3, v2=4)
vector2 = Vector(v1=1, v2=2)

# Print the content
print("THe value of vector1:", vector1)
print("The value of vector2:", vector2)


# Verify what the norm of each vector is equal to
print("\nThe norm of vector1:", vector1.norm())
print("The norm of vector2:", vector2.norm())

# Verify that they both have norms equal to 1 when normalized
print("\nNorm of normalized vector1:", vector1.normalize().norm())
print("Norm of normalized vector2:", vector2.normalize().norm())

# Compare results of addition and __add__
print("\nResult of vector1.addition(vector2):", vector1.addition(vector2))
print("Result of vector1 + vector2:", vector1 + vector2)

THe value of vector1: Vector(3, 4)
The value of vector2: Vector(1, 2)

The norm of vector1: 5.0
The norm of vector2: 2.23606797749979

Norm of normalized vector1: 1.0
Norm of normalized vector2: 1.0

Result of vector1.addition(vector2): Vector(4, 6)
Result of vector1 + vector2: Vector(4, 6)

# Section 2: Data types OOOO

# Lists and Dictionaries

## Lists
Lists store **ordered** collections.

In [80]:
# List of numbers
ex_list = [10, 20, 30, 40, 50]
print(ex_list)

[10, 20, 30, 40, 50]

Python indexing is 0-based, se the first element is the numbered 0 and not 1.

In [81]:
# Access elements
print("Value at index 0:", ex_list[0])
print("Value at index 1:", ex_list[1])
print("Value at index 2:", ex_list[2])

Value at index 0: 10
Value at index 1: 20
Value at index 2: 30

Python also allows negative based indexing, which is based on 1-INDEXING.

In [82]:
# Access elements
print(ex_list[-1])
print(ex_list[-2])
print(ex_list[-3])

50
40
30

You can also use slicing to select particular ranges of values.
In this case, considered elements range from the first up to BUT NOT CONSIDERING the last value.

In [105]:
print("The example list:")
print(ex_list)

print("\nThe first two values:")
print(ex_list[0:2])

print("\nValues three to five:")
print(ex_list[2:5])

The example list:
[10, 20, 30, 40, 50]

The first two values:
[10, 20]

Values three to five:
[30, 40, 50]

In [79]:
# Be careful when considering negative based slicing!
print(ex_list[-2:-1])
print(ex_list[-2:])

[40]
[40, 50]

In [83]:
# Actually the most general form of indexing is:
print(ex_list[:])

# It selects all

[10, 20, 30, 40, 50]

In [85]:
# List arithmetic
# Funny unexpected behavior for newcomers

# Adding 1 to the list will throw an error
ex_list + 1

TypeError: can only concatenate list (not "int") to list

In [86]:
# List arithmetic
# Funny unexpected behavior for newcomers

# Adding [1] to the list will CONCATENATE it to the list
ex_list + [1]

[10, 20, 30, 40, 50, 1]

In [87]:
# List arithmetic
# Funny unexpected behavior for newcomers

# Multiplying the list by 2 will NOT give you a new list with values doubled.
ex_list * 2

[10, 20, 30, 40, 50, 10, 20, 30, 40, 50]

In [88]:
# You should use list comprehension
[2 * x for x in ex_list]

[20, 40, 60, 80, 100]

In [89]:
# List comprehension is more than just changing the list
# It can involve filtering it on particular values
#
# for, in, if and and are reserved keywords that add flexibility
# to your statements
#
[val for val in ex_list if val > 20]

[30, 40, 50]

In [ ]:
# List comprehension is more than just changing the list
# It can involve filtering it on particular values
#
# for, in, if and and are reserved keywords that add flexibility
# to your statements
#
[val for val in ex_list if val > 20 and val != 40]

# Tuples

In [ ]:
# TUPLES
ex_tuple = (50, 40, 30, 20, 10)

In [152]:
# Tuples values are accessed in the same way as lists
ex_tuple[0:3]

(50, 40, 30)

In [ ]:
# A tuple is similar to a list but one difference is that
# it is immutable
# Values cannot be changed once set.
ex_tuple[0] = 20

TypeError: 'tuple' object does not support item assignment

In [33]:
# Be careful when considering a 1-tuple.
print([10.5])
print(type([10.5]))
#
print((10.5))
print(type((10.5)))
#
print((10.5,))
print(type((10.5,)))

[10.5]
<class 'list'>
10.5
<class 'float'>
(10.5,)
<class 'tuple'>

# Dictionaries

Dictionaries store **key-value** pairs.

In [91]:
# Dictionary of a person
obs_1 = {"species": "Ramphastos toco", "abundance": 5, "time": "2025-05-16T14:28:00+00:00"}
print(obs_1)
print("\n")

# Access by key
print(obs_1["species"])
print(obs_1["abundance"])
print(obs_1["time"])

{'species': 'Ramphastos toco', 'abundance': 5, 'time': '2025-05-16T14:28:00+00:00'}


Ramphastos toco
5
2025-05-16T14:28:00+00:00

In [92]:
# It can get nested
obs_2 = {"species": "Amphiprion ocellaris", "abundance": 3, "coordinates": [-18.29, 147.70]}
print(obs_2)
print("\n")

# Access by key
print(obs_2["species"])
print(obs_2["abundance"])
print(obs_2["coordinates"])

{'species': 'Amphiprion ocellaris', 'abundance': 3, 'coordinates': [-18.29, 147.7]}


Amphiprion ocellaris
3
[-18.29, 147.7]

# Opening files

In [93]:
# Open file for reading
f = open(file="../data/cities.txt", mode="r")

# Read the entire content of the file
content = f.read()

# Close the file
f.close()

print(content)
print(type(content))

  JakarTa
      BekAsi
DepOk
SUrabaya
  BanDUng
TANGERANG
Medan
  Semarang
palembang
Batam

<class 'str'>

In [137]:
# A better way is with a within a context block
with open(file="../data/cities.txt", mode="r") as f:
    cities = f.read()

# Look at the content
print(cities)
print(type(cities))

  JakarTa
      BekAsi
DepOk
SUrabaya
  BanDUng
TANGERANG
Medan
  Semarang
palembang
Batam

<class 'str'>

In [ ]:
# The function print formats newlines, but they are still there
print(repr(cities))

# Also note that it is one long str

'  JakarTa  \n      BekAsi\nDepOk \nSUrabaya\n  BanDUng\nTANGERANG\nMedan    \n  Semarang \npalembang\nBatam \n'

In [94]:
# A better way is with a within a context block
with open(file="../data/cities.txt", mode="r") as f:
    cities = f.readlines()

# Look at the content
print(cities)
print(type(cities))

['  JakarTa  \n', '      BekAsi\n', 'DepOk \n', 'SUrabaya\n', '  BanDUng\n', 'TANGERANG\n', 'Medan    \n', '  Semarang \n', 'palembang\n', 'Batam \n']
<class 'list'>

In [146]:
# Clean up the first city name
cities[0].rstrip().lstrip().lower().capitalize()

'Jakarta'

In [148]:
# Combine it with list expansion explained earlier to clean all the names in one go
cities_clean = [city.rstrip().lstrip().lower().capitalize() for city in cities]

# See the result
print(cities_clean)

['Jakarta', 'Bekasi', 'Depok', 'Surabaya', 'Bandung', 'Tangerang', 'Medan', 'Semarang', 'Palembang', 'Batam']

In [149]:
# Export cleaned city names with a context block
with open(file="../data/cities_clean.txt", mode="w") as f:
    # Write each city on a new line
    for city in cities_clean:
        # Add a newline character to separate each city
        f.write(city + "\n")

# *ARGS and **KWARGS

In [153]:
#def add2(x1, x2):
#    return x1 + x2
#    return sum([x1, x2])

#def add3(x1, x2, x3):
#    return x1 + x2 + x3
#    return sum([x1, x2, x3])

# Note: You enter them in the function definition with the *,
# but you don't use them with the * in the function body
def add_many(*args):
    out = sum(args)
    return out

add_many(2, 3, 4, 5)

14

In [ ]:
# See the print function
print

# List unpacking

In [ ]:
# A list is made up of ordered elements (by their index that is)
out = [10, 20, 30, 40]

# A bad way to extract values
a = out[0]
b = out[1]
c = out[2]
d = out[3]

# See their values
print("Value of a:", a)
print("Value of b:", b)
print("Value of c:", c)
print("Value of d:", d)

Value of a: 10
Value of b: 20
Value of c: 30
Value of d: 40

In [95]:
# A list
out = [10, 20, 30, 40]

# Extract the values of a list in one go
a, b, c, d = out

# See their values
print("Value of a:", a)
print("Value of b:", b)
print("Value of c:", c)
print("Value of d:", d)

Value of a: 10
Value of b: 20
Value of c: 30
Value of d: 40

# The _ object

The `_` object has a meaning in Python

In [96]:
# An operation that is returned to STDOUT
3 + 3.5

6.5

In [97]:
# See the value of _
_

6.5

In [126]:
# A list
out = [10, 20, 30, 40]

# I want a and b, but do not care about c and d
# I don't want to waste effort in naming them or
# allotting memory for them
a, b, _, _ = out

# See their values
print("Value of a:", a)
print("Value of b:", b)

Value of a: 10
Value of b: 20

# Memory and whatnot

In [21]:
for i in range(0, 19):
    print("The number", i, "in hexadecimal is", hex(i))

The number 0 in hexadecimal is 0x0
The number 1 in hexadecimal is 0x1
The number 2 in hexadecimal is 0x2
The number 3 in hexadecimal is 0x3
The number 4 in hexadecimal is 0x4
The number 5 in hexadecimal is 0x5
The number 6 in hexadecimal is 0x6
The number 7 in hexadecimal is 0x7
The number 8 in hexadecimal is 0x8
The number 9 in hexadecimal is 0x9
The number 10 in hexadecimal is 0xa
The number 11 in hexadecimal is 0xb
The number 12 in hexadecimal is 0xc
The number 13 in hexadecimal is 0xd
The number 14 in hexadecimal is 0xe
The number 15 in hexadecimal is 0xf
The number 16 in hexadecimal is 0x10
The number 17 in hexadecimal is 0x11
The number 18 in hexadecimal is 0x12

In [37]:
val = 3.8
#
print(id(val))
print(hex(id(val)))
#
print("-" * 20)
#
print(type(id(val)))
print(type(hex(id(val))))

1756194730800
0x198e55cf330
--------------------
<class 'int'>
<class 'str'>

In [99]:
list_1 = [1.8]
list_2 = list_1
list_3 = list_1.copy()
list_4 = [1.8]
#
print("Contents of list_1:", list_1)
print("Contents of list_2:", list_2)
print("Contents of list_3:", list_3)
print("Contents of list_4:", list_4)
#
print("\n")
#
print("Unique identifier for list_1:", id(list_1))
print("Unique identifier for list_2:", id(list_2))
print("Unique identifier for list_3:", id(list_3))
print("Unique identifier for list_4:", id(list_4))

Contents of list_1: [1.8]
Contents of list_2: [1.8]
Contents of list_3: [1.8]
Contents of list_4: [1.8]


Unique identifier for list_1: 2681671945600
Unique identifier for list_2: 2681671945600
Unique identifier for list_3: 2681671955072
Unique identifier for list_4: 2681671936064

In [100]:
# Innucuously change the value of the only element in list_2
list_2[0] = 3

# Look at the values again
#
print("Contents of list_1:", list_1)
print("Contents of list_2:", list_2)
print("Contents of list_3:", list_3)
print("Contents of list_4:", list_4)

Contents of list_1: [3]
Contents of list_2: [3]
Contents of list_3: [1.8]
Contents of list_4: [1.8]

# Iterators

In [102]:
values = [10, 20, 30, 40]
print(values)

[10, 20, 30, 40]

In [105]:
for idx in range(0, len(values)):
    print(values[idx])

10
20
30
40

In [106]:
for idx in range(0, len(values)):
    print(f"Value number {idx} is {values[idx]}")

Value number 0 is 10
Value number 1 is 20
Value number 2 is 30
Value number 3 is 40

In [71]:
# Consider enumerate
print(enumerate(values))
print(type(enumerate(values)))

<enumerate object at 0x00000198E5761080>
<class 'enumerate'>

In [72]:
for idx, val in enumerate(values):
    print(f"Value number {idx} is {val}")

Value number 0 is 10
Value number 1 is 20
Value number 2 is 30
Value number 3 is 40