# Pandas

Pandas stands for panel data (so not the animal üêº). It is a more USER.

If you want to learn more about it, visit [https://pandas.pydata.org/](https://pandas.pydata.org/).

In [1]:
# Import dependencies
import pandas as pd

# MOVE BUT SHOW

# Creating a pandas dataframe

In [10]:
# Create a Series
my_series = pd.Series(data=[10, 20, 30, 40, 180])

print(my_series)
print(type(my_series))

0     10
1     20
2     30
3     40
4    180
dtype: int64
<class 'pandas.core.series.Series'>

In [11]:
print(my_series.skew())
print(my_series.kurtosis())

2.095594125462855
4.502672300647195

In [9]:
# Create a Series
my_series2 = pd.Series(data=["Biscoe", "Biscoe", "Dream", "Dream", "Dream"])

print(my_series2)
print(type(my_series2))

0    Biscoe
1    Biscoe
2     Dream
3     Dream
4     Dream
dtype: object
<class 'pandas.core.series.Series'>

In [17]:
print(my_series2.max())
print(my_series2.min())

Dream
Biscoe

In [18]:
# Create a small dictionary
# You should know by now
penguins_dico = {
    "island": ["Biscoe", "Dream", "Dream"],
    "bill_length_mm": [39.1, 39.5, 40.3],
    "bill_depth_mm": [18.7, 17.4, 18.0]
    }

print(penguins_dico)

{'island': ['Biscoe', 'Dream', 'Dream'], 'bill_length_mm': [39.1, 39.5, 40.3], 'bill_depth_mm': [18.7, 17.4, 18.0]}

In [19]:
penguins_df = pd.DataFrame(data=penguins_dico)
print(penguins_df)

   island  bill_length_mm  bill_depth_mm
0  Biscoe            39.1           18.7
1   Dream            39.5           17.4
2   Dream            40.3           18.0

In [23]:
penguins_df.values

array([['Biscoe', 39.1, 18.7],
       ['Dream', 39.5, 17.4],
       ['Dream', 40.3, 18.0]], dtype=object)

In [24]:
type(penguins_df.values)

numpy.ndarray

In [20]:
# Have a look at the values attribute
print(penguins_df.values)

#
print("-" * 50)

# Have a look at the type of object it is
print(type(penguins_df.values))
print(penguins_df.shape)
print(penguins_df.dtypes)

[['Biscoe' 39.1 18.7]
 ['Dream' 39.5 17.4]
 ['Dream' 40.3 18.0]]
--------------------------------------------------
<class 'numpy.ndarray'>
(3, 3)
island             object
bill_length_mm    float64
bill_depth_mm     float64
dtype: object

In [21]:
# So you still have access to familiar methods
penguins_df.sum(axis=0)

island            BiscoeDreamDream
bill_length_mm               118.9
bill_depth_mm                 54.1
dtype: object

# Better indexing

Because Pandas has column indices, it is capable of

In [29]:
print(penguins_df)

   island  bill_length_mm  bill_depth_mm
0  Biscoe            39.1           18.7
1   Dream            39.5           17.4
2   Dream            40.3           18.0

In [32]:
penguins_df.columns
(penguins_df.index)

RangeIndex(start=0, stop=3, step=1)

In [35]:
# Access the column directly
print(penguins_df["bill_length_mm"])
#
print(penguins_df["island"])

0    39.1
1    39.5
2    40.3
Name: bill_length_mm, dtype: float64
0    Biscoe
1     Dream
2     Dream
Name: island, dtype: object

In [37]:
# You can access several columns by giving their names as a list
print(penguins_df[["bill_length_mm", "bill_depth_mm"]])

   bill_length_mm  bill_depth_mm
0            39.1           18.7
1            39.5           17.4
2            40.3           18.0

In [142]:
# Accessing both columns and rows is (usually) done with .loc[]
palmer.loc[0:3, ["bill_length_mm", "body_mass_g"]]

   bill_length_mm  body_mass_g
0            39.1       3750.0
1            39.5       3800.0
2            40.3       3250.0
3             NaN          NaN

In [145]:
# You can access column and 
palmer.loc[(palmer["sex"] == "male"), ["bill_length_mm", "body_mass_g"]]

     bill_length_mm  body_mass_g
0              39.1       3750.0
5              39.3       3650.0
7              39.2       4675.0
13             38.6       3800.0
14             34.6       4400.0
..              ...          ...
334            50.2       3800.0
336            51.9       3950.0
339            55.8       4000.0
341            49.6       3775.0
342            50.8       4100.0

[168 rows x 2 columns]

In [68]:
# You can access column and 
palmer.loc[(palmer["sex"] == "male") & (palmer["island"] == "Dream"), ["bill_length_mm", "body_mass_g"]]

     bill_length_mm  body_mass_g
31             37.2       3900.0
33             40.9       3900.0
35             39.2       4150.0
36             38.8       3950.0
39             39.8       4650.0
..              ...          ...
334            50.2       3800.0
336            51.9       3950.0
339            55.8       4000.0
341            49.6       3775.0
342            50.8       4100.0

[62 rows x 2 columns]

In [ ]:
# Another method exists, integer location
# Based on NumPy counting
palmer.iloc[0:3, 0:2]

  species     island
0  Adelie  Torgersen
1  Adelie  Torgersen
2  Adelie  Torgersen

# LOCATION VS. INTEGER LOCATIONS

# Additional features

Pandas is more than just sugarcoating NumPy.

In [106]:
# Read the entire Palmer penguins dataset
palmer = pd.read_csv(filepath_or_buffer="../data/penguins.csv")

# See it!
print(palmer)
print(type(palmer))
print(type(palmer.values))

       species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0       Adelie  Torgersen            39.1           18.7              181.0
1       Adelie  Torgersen            39.5           17.4              186.0
2       Adelie  Torgersen            40.3           18.0              195.0
3       Adelie  Torgersen             NaN            NaN                NaN
4       Adelie  Torgersen            36.7           19.3              193.0
..         ...        ...             ...            ...                ...
339  Chinstrap      Dream            55.8           19.8              207.0
340  Chinstrap      Dream            43.5           18.1              202.0
341  Chinstrap      Dream            49.6           18.2              193.0
342  Chinstrap      Dream            50.8           19.0              210.0
343  Chinstrap      Dream            50.2           18.7              198.0

     body_mass_g     sex  year
0         3750.0    male  2007
1         3800.0  female  2007
2         3250.0  female  2007
3            NaN     NaN  2007
4         3450.0  female  2007
..           ...     ...   ...
339       4000.0    male  2009
340       3400.0  female  2009
341       3775.0    male  2009
342       4100.0    male  2009
343       3775.0  female  2009

[344 rows x 8 columns]
<class 'pandas.core.frame.DataFrame'>
<class 'numpy.ndarray'>

In [39]:
# You can check the column names with the .columns attribute
print(palmer.columns)

Index(['species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex', 'year'],
      dtype='object')

In [138]:
# Columns are now attributes of the DataFrame
# This means that you can select individual columns by their name rather than by their number
palmer["island"]
#palmer.species

0      Torgersen
1      Torgersen
2      Torgersen
3      Torgersen
4      Torgersen
         ...
339        Dream
340        Dream
341        Dream
342        Dream
343        Dream
Name: island, Length: 344, dtype: object

In [137]:
# If you want to choose several columns, supply them as a list.
palmer[["island", "species", "bill_length_mm"]]

        island    species  bill_length_mm
0    Torgersen     Adelie            39.1
1    Torgersen     Adelie            39.5
2    Torgersen     Adelie            40.3
3    Torgersen     Adelie             NaN
4    Torgersen     Adelie            36.7
..         ...        ...             ...
339      Dream  Chinstrap            55.8
340      Dream  Chinstrap            43.5
341      Dream  Chinstrap            49.6
342      Dream  Chinstrap            50.8
343      Dream  Chinstrap            50.2

[344 rows x 3 columns]

In [139]:
# Again
palmer.loc[:, :]

# So that your previous command was:
palmer.loc[:, ["island", "species", "bill_length_mm"]]

        island    species  bill_length_mm
0    Torgersen     Adelie            39.1
1    Torgersen     Adelie            39.5
2    Torgersen     Adelie            40.3
3    Torgersen     Adelie             NaN
4    Torgersen     Adelie            36.7
..         ...        ...             ...
339      Dream  Chinstrap            55.8
340      Dream  Chinstrap            43.5
341      Dream  Chinstrap            49.6
342      Dream  Chinstrap            50.8
343      Dream  Chinstrap            50.2

[344 rows x 3 columns]

In [134]:
# In addition, you can also use boolean filters for rows
palmer["species"] == "Adelie"

0       True
1       True
2       True
3       True
4       True
       ...
339    False
340    False
341    False
342    False
343    False
Name: species, Length: 344, dtype: bool

In [133]:
# Groups of columns are given as a list
palmer.loc[palmer["species"] == "Adelie", ["island", "species", "bill_length_mm"]]

        island species  bill_length_mm
0    Torgersen  Adelie            39.1
1    Torgersen  Adelie            39.5
2    Torgersen  Adelie            40.3
3    Torgersen  Adelie             NaN
4    Torgersen  Adelie            36.7
..         ...     ...             ...
147      Dream  Adelie            36.6
148      Dream  Adelie            36.0
149      Dream  Adelie            37.8
150      Dream  Adelie            36.0
151      Dream  Adelie            41.5

[152 rows x 3 columns]

In [132]:
# Again, several boolean filters can be chosen
# Note the parentheses
palmer.loc[(palmer["species"] == "Adelie") & (palmer["island"] == "Dream"), ["island", "species", "bill_length_mm"]]

    island species  bill_length_mm
30   Dream  Adelie            39.5
31   Dream  Adelie            37.2
32   Dream  Adelie            39.5
33   Dream  Adelie            40.9
34   Dream  Adelie            36.4
35   Dream  Adelie            39.2
36   Dream  Adelie            38.8
37   Dream  Adelie            42.2
38   Dream  Adelie            37.6
39   Dream  Adelie            39.8
40   Dream  Adelie            36.5
41   Dream  Adelie            40.8
42   Dream  Adelie            36.0
43   Dream  Adelie            44.1
44   Dream  Adelie            37.0
45   Dream  Adelie            39.6
46   Dream  Adelie            41.1
47   Dream  Adelie            37.5
48   Dream  Adelie            36.0
49   Dream  Adelie            42.3
84   Dream  Adelie            37.3
85   Dream  Adelie            41.3
86   Dream  Adelie            36.3
87   Dream  Adelie            36.9
88   Dream  Adelie            38.3
89   Dream  Adelie            38.9
90   Dream  Adelie            35.7
91   Dream  Adelie            41.1
92   Dream  Adelie            34.0
93   Dream  Adelie            39.6
94   Dream  Adelie            36.2
95   Dream  Adelie            40.8
96   Dream  Adelie            38.1
97   Dream  Adelie            40.3
98   Dream  Adelie            33.1
99   Dream  Adelie            43.2
132  Dream  Adelie            36.8
133  Dream  Adelie            37.5
134  Dream  Adelie            38.1
135  Dream  Adelie            41.1
136  Dream  Adelie            35.6
137  Dream  Adelie            40.2
138  Dream  Adelie            37.0
139  Dream  Adelie            39.7
140  Dream  Adelie            40.2
141  Dream  Adelie            40.6
142  Dream  Adelie            32.1
143  Dream  Adelie            40.7
144  Dream  Adelie            37.3
145  Dream  Adelie            39.0
146  Dream  Adelie            39.2
147  Dream  Adelie            36.6
148  Dream  Adelie            36.0
149  Dream  Adelie            37.8
150  Dream  Adelie            36.0
151  Dream  Adelie            41.5

# IMPORTANT
# ESPECIALLY FOR NEW INITIATES

In [141]:
# In Pandas, the .loc[] method selects based on its filter
# so that
palmer.loc[0:10, :]

# Will return all observations from 0:10 INCLUDED!!!
# Which is not what you saw in Python lists or NumPy arrays

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,male,2007
6,Adelie,Torgersen,38.9,17.8,181.0,3625.0,female,2007
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,male,2007
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN,2007
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN,2007
10,Adelie,Torgersen,37.8,17.1,186.0,3300.0,NaN,2007

In [143]:
# In Pandas, the .loc[] method selects based on its filter
# Either way, it is unsuited for integer location based selection
# for columns

# The following code will give you an error
palmer.loc[0:10, 0]

KeyError: 0

In [ ]:
# If you need integer location subsetting, the .iloc[] method
# can be used.
# It behaves like we saw for Python lists and NumPy arrays.

# The following code will NOT give you an error
palmer.iloc[0:10, 0]

0    Adelie
1    Adelie
2    Adelie
3    Adelie
4    Adelie
5    Adelie
6    Adelie
7    Adelie
8    Adelie
9    Adelie
Name: species, dtype: object

In [ ]:
# The following code will NOT give you an error
palmer.iloc[0:10, 0:3]

  species     island  bill_length_mm
0  Adelie  Torgersen            39.1
1  Adelie  Torgersen            39.5
2  Adelie  Torgersen            40.3
3  Adelie  Torgersen             NaN
4  Adelie  Torgersen            36.7
5  Adelie  Torgersen            39.3
6  Adelie  Torgersen            38.9
7  Adelie  Torgersen            39.2
8  Adelie  Torgersen            34.1
9  Adelie  Torgersen            42.0

# Quick summaries

In [148]:
# You can also get quick summaries of variables
print(palmer.describe(include="number"))

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g  \
count      342.000000     342.000000         342.000000   342.000000
mean        43.921930      17.151170         200.915205  4201.754386
std          5.459584       1.974793          14.061714   801.954536
min         32.100000      13.100000         172.000000  2700.000000
25%         39.225000      15.600000         190.000000  3550.000000
50%         44.450000      17.300000         197.000000  4050.000000
75%         48.500000      18.700000         213.000000  4750.000000
max         59.600000      21.500000         231.000000  6300.000000

              year
count   344.000000
mean   2008.029070
std       0.818356
min    2007.000000
25%    2007.000000
50%    2008.000000
75%    2009.000000
max    2009.000000

In [149]:
# Qualitative variables use the argument "object"
print(palmer.describe(include="object"))

       species  island   sex
count      344     344   333
unique       3       3     2
top     Adelie  Biscoe  male
freq       152     168   168

In [150]:
# You can use the argument "all" to get it for all variables,
# but the resulting table is ugly and somewhat useless
print(palmer.describe(include="all"))

       species  island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
count      344     344      342.000000     342.000000         342.000000
unique       3       3             NaN            NaN                NaN
top     Adelie  Biscoe             NaN            NaN                NaN
freq       152     168             NaN            NaN                NaN
mean       NaN     NaN       43.921930      17.151170         200.915205
std        NaN     NaN        5.459584       1.974793          14.061714
min        NaN     NaN       32.100000      13.100000         172.000000
25%        NaN     NaN       39.225000      15.600000         190.000000
50%        NaN     NaN       44.450000      17.300000         197.000000
75%        NaN     NaN       48.500000      18.700000         213.000000
max        NaN     NaN       59.600000      21.500000         231.000000

        body_mass_g   sex         year
count    342.000000   333   344.000000
unique          NaN     2          NaN
top             NaN  male          NaN
freq            NaN   168          NaN
mean    4201.754386   NaN  2008.029070
std      801.954536   NaN     0.818356
min     2700.000000   NaN  2007.000000
25%     3550.000000   NaN  2007.000000
50%     4050.000000   NaN  2008.000000
75%     4750.000000   NaN  2009.000000
max     6300.000000   NaN  2009.000000

# Data cleaning

Data cleaning is efficient, you can remove NaN values

In [151]:
palmer.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007

In [152]:
palmer.dropna(inplace=False).head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,male,2007

In [36]:
# Data cleaning is efficient, you can remove
#palmer.dropna(inplace=False)
#palmer.dropna(inplace=False, subset=["sex"])
#palmer[palmer.isna().any(axis=1)]

In [161]:
# Removing NaN on only a particular variable
# .dropna() removes values that are 
palmer_piece = palmer.loc[267:272, :].copy()
#
print(palmer_piece)

    species  island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
267  Gentoo  Biscoe            55.1           16.0              230.0
268  Gentoo  Biscoe            44.5           15.7              217.0
269  Gentoo  Biscoe            48.8           16.2              222.0
270  Gentoo  Biscoe            47.2           13.7              214.0
271  Gentoo  Biscoe             NaN            NaN                NaN
272  Gentoo  Biscoe            46.8           14.3              215.0

     body_mass_g     sex  year  bill_ratio
267       5850.0    male  2009    3.443750
268       4875.0     NaN  2009    2.834395
269       6000.0    male  2009    3.012346
270       4925.0  female  2009    3.445255
271          NaN     NaN  2009         NaN
272       4850.0  female  2009    3.272727

In [162]:
# If you use .dropna(), you will remove both rows 268 and 271
#
print(palmer_piece.dropna())

    species  island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
267  Gentoo  Biscoe            55.1           16.0              230.0
269  Gentoo  Biscoe            48.8           16.2              222.0
270  Gentoo  Biscoe            47.2           13.7              214.0
272  Gentoo  Biscoe            46.8           14.3              215.0

     body_mass_g     sex  year  bill_ratio
267       5850.0    male  2009    3.443750
269       6000.0    male  2009    3.012346
270       4925.0  female  2009    3.445255
272       4850.0  female  2009    3.272727

In [163]:
# But you can specify on which columns you want to drop rows if they contain NaN values
#
print(palmer_piece.dropna(subset=["bill_depth_mm"]))

    species  island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
267  Gentoo  Biscoe            55.1           16.0              230.0
268  Gentoo  Biscoe            44.5           15.7              217.0
269  Gentoo  Biscoe            48.8           16.2              222.0
270  Gentoo  Biscoe            47.2           13.7              214.0
272  Gentoo  Biscoe            46.8           14.3              215.0

     body_mass_g     sex  year  bill_ratio
267       5850.0    male  2009    3.443750
268       4875.0     NaN  2009    2.834395
269       6000.0    male  2009    3.012346
270       4925.0  female  2009    3.445255
272       4850.0  female  2009    3.272727

# Constructing new variables

In [164]:
#  You can build new variables
print(palmer["bill_length_mm"] / palmer["bill_depth_mm"])

# Adding a column is done simply by 
palmer["bill_ratio"] = palmer["bill_length_mm"] / palmer["bill_depth_mm"]

0      2.090909
1      2.270115
2      2.238889
3           NaN
4      1.901554
         ...
339    2.818182
340    2.403315
341    2.725275
342    2.673684
343    2.684492
Length: 344, dtype: float64

In [160]:
# You can check to make sure it is there.
print(palmer.columns)

Index(['species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex', 'year', 'bill_ratio'],
      dtype='object')

# XXX Summarizing variables using .groupby

In [77]:
# You can use the .groupby() method to group dataframes by a qualitative variable
print(palmer.groupby(by="island"))
print(type(palmer.groupby(by="island")))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000023A51B98AD0>
<class 'pandas.core.groupby.generic.DataFrameGroupBy'>

In [81]:
# You can get the function you want by using it as a method afterwards
# .count()
# .mean()
# .min()
# .max()
print("Average penguin bill length by island")
(palmer.groupby(by="island").count())

Average penguin bill length by island

,species,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
island,,,,,,,
Biscoe,168,167,167,167,167,163,168
Dream,124,124,124,124,124,123,124
Torgersen,52,51,51,51,51,47,52

In [ ]:
# The following code will fail, but look at the output to
# understand
#
# You want to change the aggregate function
print("Average penguin bill length by island")
print(palmer.groupby(by="island").mean())

In [86]:
# You can consider a single variable by appending it at the end
print("Average penguin bill length by island")
(palmer.groupby(by="island")["bill_length_mm"].mean())

Average penguin bill length by island

island
Biscoe       45.257485
Dream        44.167742
Torgersen    38.950980
Name: bill_length_mm, dtype: float64

In [89]:
# You can submit more than one variable in the "by" parameter
# These are considered in succession
print("Average penguin bill length by island, then by species")
(palmer.groupby(by=["island", "species"])["bill_length_mm"].mean())

Average penguin bill length by island

island     species
Biscoe     Adelie       38.975000
           Gentoo       47.504878
Dream      Adelie       38.501786
           Chinstrap    48.833824
Torgersen  Adelie       38.950980
Name: bill_length_mm, dtype: float64

In [90]:
# You can submit more than one variable in the "by" parameter
# These are considered in succession
print("Average penguin bill length by island, then by species, then by sex")
(palmer.groupby(by=["island", "species", "sex"])["bill_length_mm"].mean())

Average penguin bill length by island, then by species, then by sex

island     species    sex
Biscoe     Adelie     female    37.359091
                      male      40.590909
           Gentoo     female    45.563793
                      male      49.473770
Dream      Adelie     female    36.911111
                      male      40.071429
           Chinstrap  female    46.573529
                      male      51.094118
Torgersen  Adelie     female    37.554167
                      male      40.586957
Name: bill_length_mm, dtype: float64

In [91]:
# More than one variable can be submitted, in which case they must be a list
# You can submit more than one variable in the "by" parameter
# These are considered in succession
print("Average penguin bill length and depth by island, then by species, then by sex")
(palmer.groupby(by=["island", "species", "sex"])[["bill_length_mm", "bill_length_mm"]].mean())

Average penguin bill length and depth by island, then by species, then by sex

                            bill_length_mm  bill_length_mm
island    species   sex
Biscoe    Adelie    female       37.359091       37.359091
                    male         40.590909       40.590909
          Gentoo    female       45.563793       45.563793
                    male         49.473770       49.473770
Dream     Adelie    female       36.911111       36.911111
                    male         40.071429       40.071429
          Chinstrap female       46.573529       46.573529
                    male         51.094118       51.094118
Torgersen Adelie    female       37.554167       37.554167
                    male         40.586957       40.586957

In [166]:
# You can even go full complexity by aggregating multiple variables
palmer.groupby(["island", "species", "sex"])[["body_mass_g", "bill_ratio"]].agg(["min", "median", "max"])

                           body_mass_g                 bill_ratio            \
                                   min  median     max        min    median
island    species   sex
Biscoe    Adelie    female      2850.0  3375.0  3900.0   1.867725  2.160006
                    male        3550.0  4000.0  4775.0   1.890000  2.152839
          Gentoo    female      3950.0  4700.0  5200.0   2.836735  3.218840
                    male        4750.0  5500.0  6300.0   2.566474  3.132075
Dream     Adelie    female      2900.0  3400.0  3700.0   1.945946  2.069149
                    male        3425.0  3987.5  4650.0   1.857820  2.133129
          Chinstrap female      2700.0  3550.0  4150.0   2.350515  2.628989
                    male        3250.0  3950.0  4800.0   2.477387  2.667567
Torgersen Adelie    female      2900.0  3400.0  3800.0   1.763158  2.174022
                    male        3325.0  4000.0  4700.0   1.639810  2.139535


                                 max
island    species   sex
Biscoe    Adelie    female  2.356250
                    male    2.333333
          Gentoo    female  3.492424
                    male    3.612676
Dream     Adelie    female  2.365269
                    male    2.394118
          Chinstrap female  3.258427
                    male    2.872928
Torgersen Adelie    female  2.434524
                    male    2.450000

# PIVOT STACK et al.

In [100]:
# You can submit more than one variable in the "by" parameter
# These are considered in succession
toto = (palmer.groupby(by=["island", "species"])["bill_length_mm"].mean())

print("Average penguin bill length by island, then by species")
print(toto)

Average penguin bill length by island, then by species
island     species
Biscoe     Adelie       38.975000
           Gentoo       47.504878
Dream      Adelie       38.501786
           Chinstrap    48.833824
Torgersen  Adelie       38.950980
Name: bill_length_mm, dtype: float64

In [103]:
# Unstack
print(toto.unstack())

species       Adelie  Chinstrap     Gentoo
island
Biscoe     38.975000        NaN  47.504878
Dream      38.501786  48.833824        NaN
Torgersen  38.950980        NaN        NaN
island     species
Biscoe     Adelie       38.975000
           Gentoo       47.504878
Dream      Adelie       38.501786
           Chinstrap    48.833824
Torgersen  Adelie       38.950980
Name: bill_length_mm, dtype: float64

In [105]:
toto

island     species
Biscoe     Adelie       38.975000
           Gentoo       47.504878
Dream      Adelie       38.501786
           Chinstrap    48.833824
Torgersen  Adelie       38.950980
Name: bill_length_mm, dtype: float64

In [104]:
# Reset the index to convert the MultiIndex into columns
toto_df = toto.reset_index()

# Pivot the DataFrame: 'island' as rows, 'species' as columns, and 'bill_length_mm' as values
pivoted_df = toto_df.pivot(index="island", columns="species", values="bill_length_mm")

# Display the result
print(pivoted_df)

species       Adelie  Chinstrap     Gentoo
island
Biscoe     38.975000        NaN  47.504878
Dream      38.501786  48.833824        NaN
Torgersen  38.950980        NaN        NaN